HTTP Header fields should be case-insensitive

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The getters of HTTP headers in `DataQuery` do not handle the names case-insensitively. However, they should be; as stated by the HTTP RFC 2616 [Section 4.2](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

> Field names are case-insensitive.

### Expected Behavior

Field names are handled case-insensitively.

### Steps To Reproduce

_No response_

### Environment

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

Hi, can you assign this issue to me? I would like to start work on it.

Hi @livkovacova! First of all: welcome to the NeonBee project. :) Thanks for offering your help to work on this item. Feel free to start right away. Just make sure that you follow the [Contributing guidelines](https://github.com/SAP/neonbee/blob/main/CONTRIBUTING.md) and in case of any questions please reach out to us (preferably via our [Discord channel](https://discord.gg/Fc3JWAHWFm).